@font-face {
  font-family: "Geist";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/font/geist/geist.woff2) format("woff2");
}

@font-face {
  font-family: "Geist Mono";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/font/geist/geist-mono.woff2) format("woff2");
}

@font-face {
  font-family: "Oceanic Gothic Medium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/font/oceanic-gothic/oceanic-gothic-medium.woff) format("woff");
}

h1, h2, .h {
  font-family: "Oceanic Gothic Medium";
}
