@font-face {
  font-family: "Oceanic Gothic Medium";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url(/font/oceanic-gothic/oceanic-gothic-medium.woff) format("woff");
}

/* @theme inline {
  --font-sans: "Geist", sans-serif;
  --font-mono: "Geist Mono", monospace;
  --font-h: "Oceanic Gothic Medium";
} */

h1, h2 {
  font-family: "Oceanic Gothic Medium";
}
